@media 
only screen and (max-device-aspect-ratio: 9/16),
only screen and (max-device-aspect-ratio: 9/18),
only screen and (max-device-aspect-ratio: 3/5),
only screen and (max-device-aspect-ratio: 2/3),
only screen and (max-width: 520px)
{
	.menu {
		width: 80vw;
	}
	.menu_btn {
		width: 40vw;
		height: 40vw;
	}
	.policy_text {
		width: 86vw;
		font-size: 1.8vh;
	}
	.rights {
		font-size: 2.7vh;
	}
	footer a {
		font-size: 2.6vh;
		margin-left: 35vw;
	}
}